/* Footer.module.scss */
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust the height as needed */
    background-image: url('/images/site/footer-bg.png'); /* Add a background image */
    border-top: 1px solid #3A16A6    ;
}
.footer img {
    margin: 0 16px; /* Add space between images */
}
